<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.phonegap.plugin.localnotification"
    version="0.2.1">
    <name>LocalNotification</name>
    <description>Cordova Device Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,device</keywords>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="LocalNotification" >
                <param name="android-package" value="com.phonegap.plugin.localnotification.LocalNotification"/>
            </feature>
        </config-file>

    </platform>

</plugin>
